@model pMVC4UniversityMngApp.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2 class="fa fa-2x">Details</h2>

<fieldset>
    <legend>Course</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Credit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Credit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department.DeptCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department.DeptCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Semester.SemesterName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Semester.SemesterName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
