@model pMVC4UniversityMngApp.Models.AllocatedRoom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AllocatedRoom</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Course.CourseCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course.CourseCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Room.RoomNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room.RoomNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WeekDay.DayName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeekDay.DayName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>
</fieldset>
<p>
    <a class="fa fa-2x btn btn-default btn-warning" href="/AllocatedRooms/Delete/@Html.DisplayFor(model => model.AllocatedRoomID)">Unallocate</a> |
    @Html.ActionLink("Back to List", "Index")
</p>
