@model pMVC4UniversityMngApp.Models.Admin

@{
    ViewBag.Title = "Create";
    var emailstr = "";
    if (Model != null)
    {
        emailstr = Model.Email;
    }
}
<div ng-app="ValidationApp" class="float_div">
    <div ng-controller="ValidationController" class="float_div">

        <h2 class="fa fa-2x">Create</h2>

        <form name="ValidationForm" id="ValidationForm" action="/Admins/Create" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Admin</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.AdminName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AdminName)
                    @Html.ValidationMessageFor(model => model.AdminName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    <input class="text-box single-line" data-val="true"
                           data-val-required="Error : Email Can Not be Empty !!!"
                           id="Email" name="Email" type="email" value="@emailstr"
                           required="required" ng-model="Email" />
                    <span class="error" ng-show="ValidationForm.Email.$dirty && ValidationForm.Email.$invalid">
                        <span ng-show="ValidationForm.Email.$error.email">
                            <strong>
                                Invalid Email Format !!! &nbsp;&nbsp;&nbsp;
                            </strong>
                        </span>
                    </span>
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.IsActive)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>

                <p>
                    <input class="btn btnDone btn-default btn-primary" type="submit"
                           value="Save" ng-disabled="ValidationForm.Email.$dirty && ValidationForm.Email.$invalid" />
                </p>
            </fieldset>
        </form>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</div>

@section Scripts {
    <style type="text/css">
        .float_div {
            float: left;
            width: 100%;
        }
    </style>
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
    var ValidationApp = angular.module("ValidationApp", []);
    ValidationApp.controller("ValidationController", function ($scope) {
        $scope.Email = "@emailstr";
    });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                alert("@ViewBag.Message");
            });
        </script>
    }
}
